<% layout("/layouts/boilerplate") %>
<style>
.btn btn-warning btn-sm a {
  width: 60px;
}
</style>
<div id="filters">
  <div class="filter">
     
  </div>

<h3>Most liked:</h3>
  
<div class="card-container">

  <% for (let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" 
      class="listing-link">
      <div class="card">
        <img src="<%= listing.image?.url || '' %>" class="card-img-top"  alt="<%= listing.title %>">
      
        
        <div class="card-img-overlay">  <i class="fa-regular fa-heart" style="color:white;"></i></div>
          <% if (currUser && listing.owner && listing.owner.equals(currUser._id)) { %>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-warning btn-sm"  >Edit</a>
          <% } %> 
            
        <!-- <div class="card-text">
          <h5><%= listing.title %></h5>
           <p > <%= (listing.price || 0).toLocaleString
            ("en-IN", { style: "currency", currency: "INR" }) %> /night
            </p>
           
        </div> -->
        <div class="card-body">
  <h5 class="card-title">
    <a href="/listings/<%= listing._id %>" class="listing-title">
      <%= listing.title %>
    </a>
  </h5>
  <p class="card-text">
    <%= (listing.price || 0).toLocaleString(
      "en-IN", { style: "currency", currency: "INR" }
    ) %> /day
  </p>
</div>
      </a>
    </div>
  <% } %>
</div>
</div>






